---
import Button from '@/components/base/Button.astro'

const { class: className } = Astro.props
---

<Button class:list={['flex w-6 flex-col gap-1', className]}>
  <span aria-hidden="true" class="w-full h-[2px] bg-gray-800"></span>
  <span aria-hidden="true" class="w-full h-[2px] bg-gray-800"></span>
  <span aria-hidden="true" class="w-full h-[2px] bg-gray-800"></span>
  <span class="sr-only">Toggle menu</span>
</Button>
