---
import DefaultLayout from '@/layouts/Default.astro'
import Container from '@/components/base/Container.astro'
import Tabs from '@/components/base/Tabs.astro'
import TabPanel from '@/components/base/TabPanel.astro'
import Showcase from '@/components/styleguide/Showcase.astro'
---

<DefaultLayout title="Tabs">
  <Container>
    <h1 class="text-3xl font-bold mb-6">Tabs</h1>
    <Showcase title="Underline tabs">
      <Tabs
        tabs={[
          { title: 'My Account', id: 'account' },
          { title: 'Security', id: 'security' },
          { title: 'Email preferences', id: 'email' },
          { title: 'Billing', id: 'billing' },
        ]}
      >
        <TabPanel id="account">
          <h2 class="text-2xl mb-4">Panel 1</h2>
          <p class="my-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum dolores cupiditate voluptate, sint possimus
            illum corrupti iusto sequi consequuntur eos blanditiis. Provident numquam quaerat, rerum ullam nemo magni
            blanditiis tenetur?
          </p>
        </TabPanel>

        <TabPanel id="security">
          <h2 class="text-2xl mb-4">Panel 2</h2>
          <p class="my-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum dolores cupiditate voluptate, sint possimus
            illum corrupti iusto sequi consequuntur eos blanditiis. Provident numquam quaerat, rerum ullam nemo magni
            blanditiis tenetur?
          </p>
        </TabPanel>

        <TabPanel id="email">
          <h2 class="text-2xl mb-4">Panel 3</h2>
          <p class="my-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum dolores cupiditate voluptate, sint possimus
            illum corrupti iusto sequi consequuntur eos blanditiis. Provident numquam quaerat, rerum ullam nemo magni
            blanditiis tenetur?
          </p>
        </TabPanel>

        <TabPanel id="billing">
          <h2 class="text-2xl mb-4">Panel 4</h2>
          <p class="my-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum dolores cupiditate voluptate, sint possimus
            illum corrupti iusto sequi consequuntur eos blanditiis. Provident numquam quaerat, rerum ullam nemo magni
            blanditiis tenetur?
          </p>
        </TabPanel>
      </Tabs>
    </Showcase>

    <Showcase title="With icon">
      <Tabs
        tabs={[
          { title: 'My Account', icon: 'heroicons:user-20-solid', id: 'account' },
          { title: 'Security', icon: 'heroicons:lock-closed-20-solid', id: 'security' },
          { title: 'Email preferences', icon: 'heroicons:envelope-solid', id: 'email' },
          { title: 'Billing', icon: 'heroicons:credit-card', id: 'billing' },
        ]}
      >
        <TabPanel id="account">
          <h2 class="text-2xl mb-4">Panel 1</h2>
          <p class="my-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum dolores cupiditate voluptate, sint possimus
            illum corrupti iusto sequi consequuntur eos blanditiis. Provident numquam quaerat, rerum ullam nemo magni
            blanditiis tenetur?
          </p>
        </TabPanel>

        <TabPanel id="security">
          <h2 class="text-2xl mb-4">Panel 2</h2>
          <p class="my-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum dolores cupiditate voluptate, sint possimus
            illum corrupti iusto sequi consequuntur eos blanditiis. Provident numquam quaerat, rerum ullam nemo magni
            blanditiis tenetur?
          </p>
        </TabPanel>

        <TabPanel id="email">
          <h2 class="text-2xl mb-4">Panel 3</h2>
          <p class="my-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum dolores cupiditate voluptate, sint possimus
            illum corrupti iusto sequi consequuntur eos blanditiis. Provident numquam quaerat, rerum ullam nemo magni
            blanditiis tenetur?
          </p>
        </TabPanel>

        <TabPanel id="billing">
          <h2 class="text-2xl mb-4">Panel 4</h2>
          <p class="my-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum dolores cupiditate voluptate, sint possimus
            illum corrupti iusto sequi consequuntur eos blanditiis. Provident numquam quaerat, rerum ullam nemo magni
            blanditiis tenetur?
          </p>
        </TabPanel>
      </Tabs>
    </Showcase>

    <Showcase title="Full width tabs">
      <Tabs
        fullWidth
        tabs={[
          { title: 'My Account', id: 'account' },
          { title: 'Security', id: 'security' },
          { title: 'Email preferences', id: 'email' },
          { title: 'Billing', id: 'billing' },
        ]}
      >
        <TabPanel id="account">
          <h2 class="text-2xl mb-4">Panel 1</h2>
          <p class="my-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum dolores cupiditate voluptate, sint possimus
            illum corrupti iusto sequi consequuntur eos blanditiis. Provident numquam quaerat, rerum ullam nemo magni
            blanditiis tenetur?
          </p>
        </TabPanel>

        <TabPanel id="security">
          <h2 class="text-2xl mb-4">Panel 2</h2>
          <p class="my-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum dolores cupiditate voluptate, sint possimus
            illum corrupti iusto sequi consequuntur eos blanditiis. Provident numquam quaerat, rerum ullam nemo magni
            blanditiis tenetur?
          </p>
        </TabPanel>

        <TabPanel id="email">
          <h2 class="text-2xl mb-4">Panel 3</h2>
          <p class="my-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum dolores cupiditate voluptate, sint possimus
            illum corrupti iusto sequi consequuntur eos blanditiis. Provident numquam quaerat, rerum ullam nemo magni
            blanditiis tenetur?
          </p>
        </TabPanel>

        <TabPanel id="billing">
          <h2 class="text-2xl mb-4">Panel 4</h2>
          <p class="my-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum dolores cupiditate voluptate, sint possimus
            illum corrupti iusto sequi consequuntur eos blanditiis. Provident numquam quaerat, rerum ullam nemo magni
            blanditiis tenetur?
          </p>
        </TabPanel>
      </Tabs>
    </Showcase>
  </Container>
</DefaultLayout>
