---
import Container from '@/components/base/Container.astro'
import DefaultLayout from '@/layouts/Default.astro'
---

<DefaultLayout title="Home page">
  <Container>
    <h1 class="text-3xl">Home page</h1>
  </Container>
</DefaultLayout>
