---
import BaseLayout from "@/layouts/Base.astro";
---

<BaseLayout title="Home page" class="bg-gray-200">
  <main>
    <div class="grid place-items-center h-screen content-center">
      <h1 class="text-3xl">Home page</h1>
    </div>
  </main>
</BaseLayout>
