---
import BaseLayout from '@/layouts/Base.astro'
import Header from '@/features/layout/Header.astro'
import Footer from '@/features/layout/Footer.astro'
import Drawer from '@/components/base/Drawer.astro'
import MobileMenu from '@/features/layout/MobileMenu.astro'

import type { ClassName } from '@/types'

export interface Props {
  title: string
  class?: ClassName
}

const { title, class: className } = Astro.props
---

<BaseLayout title={title} class:list={['flex flex-col min-h-screen', className]}>
  <Header class="fixed inset-x-0 top-0 z-header" />

  <main class="flex-1 pt-32 pb-10">
    <slot />
  </main>

  <Footer />

  <Drawer position="right" name="mobile-menu">
    <MobileMenu />
  </Drawer>
</BaseLayout>
